body{
background-color:#add8e6;
}

.navbar{
background-color:black;
overflow:hidden;
display:flex;
justify-content:space-between;
}
.navbar a{
float:left;
padding:14px 10px;
color:white;
text-align:center;
text-decoration:none;
}
.navbar a:hover{
background-color:green;
color:black;
}
div.image-wrapper{
height:50%;
width:50%;
content:url(todo.png);
float:right;
padding-right:100px;
}