body{
background-color:#add8e6;
}

.navbar{
background-color:black;
overflow:hidden;
display:flex;
justify-content:space-between;
}
.navbar a{
float:left;
padding:14px 10px;
color:white;
text-align:center;
text-decoration:none;
}
.navbar a:hover{
background-color:violet;
color:black;
}
